/*
intro to 3d rotations:
https://desandro.github.io/3dtransforms/docs/card-flip.html
*/

html {
  box-sizing: border-box;
    cursor: url('https://img.icons8.com/color/48/000000/fly.png'), default;	
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
    background-color: #030302;
}


#start {
  height: 90vh;
  font-family: 'Bungee', cursive;
  color: #7e220b;
  position: relative;
}

#title {
  font-size: 8rem;
  perspective: 600px;
  background-image: url('https://gfycat.com/nastybothanglerfish');
}

#title > p {
  transform: rotateX( 30deg );
  line-height: 0.75;
  text-align: center;
  color: #03584d;
  padding: 30px;
}

#start.playing {
  margin-top: -90vh;
  transition: margin-top 1s;
}

#start.playing + #game {
  display: flex;
}

#game {
  display: none;
}

#game .row {
  width: 100%;
}

.container {
  
  
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 0rem;


}
.col-2{
  background-image: url("https://i.pinimg.com/originals/81/81/34/8181341077fd958d2c022f277d1f3270.gif");
  border: 0px solid black;
  padding: 0px;
  border-radius: 50%;
}

.game-card-wrapper {
  perspective: 0px;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
 /* margin: 1rem auto;*/
}




.game-card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  /*transition: transform 1s;*/
}

.game-card.flipped {
  transform: rotateY( 180deg );
}

.front,
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  /*border-radius: 8px;*/
  border: 2px  black;
  overflow: hidden;
  border: 2px  black;
  padding: 10px;
  border-radius: 50%;
}

.front {
  background: linear-gradient(315deg, #7e670311, white);
  font-size: 3rem;
}

.back {
  transform: rotateY( 180deg );
}

.back > img {
  height: 100%;
  width: auto;
}

#current-score {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: 'Bungee', cursive;
  color: #066ef5d0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid black;
  padding: 10px;
  border-radius: 50%;
}

#end {
  display: none;
}

#end.game-over {
  display: flex;
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: space-around;
  font-family: 'Bungee', cursive;
  text-align: center;
}

#end h1 {
  font-size: 8rem;
}

#end h4 {
  font-size: 3rem;
}

@media (max-width: 992px) {
  .game-card-wrapper {
    width: 100%;
    padding-bottom: 100%;
  }
}

@media (max-width: 992px) {
  .game-card-wrapper {
    width: 120%;
    padding-bottom: 120%;
  }
}
.conta{
  color: blue
}


